// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// CSS for the whole site
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family:"Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
}

.abc-title {
  color: rgba(160, 39, 45, 0.5);
  font-size: 4.4rem;
  margin: 2.4rem 0;
}

p {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/*a:link, a:visited?*/
a {
    text-decoration: none;
}
